{% extends "base.html" %}
{% block title %}Slide2 - PyNash{% endblock %} 
{% block content %}
    <header>
        <h1>Pywebview - reuse those web skillz</h1>
    </header>
    <main>
        <ul>
            <li>Leight weight cross platform wrapper around web compoentents that display html in a native GUI window</li>
            <li>(Roman Sirokov) pywebview - https://github.com/r0x0r/pywebview</a></li>
            <li>Bottle, flask, web.py to build html5 interfaces</li>
            <li>can freeze the application</li>
        </ul>
    </main>
    <footer>
        <a href="{{ url_for('slide3') }}"><img src="{{ url_for('static', filename="images/left-icon.png") }}" /></a>
        <a href="{{ url_for('slide5') }}"><img src="{{ url_for('static', filename="images/right-icon.png") }}" /></a>
    </footer>
{% endblock %}